<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="assets/AyEico.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="stylesheet" href="styles/style.css">
    <title>Amazing Events</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-warning ">
            <div class="container-fluid p-2 justify-content-space-evenly">
                <img src="assets/Logo_Amazing_Events.png" class="logo rounded float-start ms-4 me-4" alt="logo">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="upcoming_events.html">Upcoming Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="past_events.html">Past Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Stats</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item ">
                    <h2>Home</h2>
                </div>
                <div class="carousel-item">
                    <h2>Upcoming Events</h2>
                </div>
                <div class="carousel-item">
                    <h2>Past Events</h2>
                </div>
                <div class="carousel-item ">
                    <h2>Contact</h2>
                </div>
                <div class="carousel-item active">
                    <h2>Stats</h2>
                </div>
            </div>
            <a href="contact.html" class="carousel-control-prev" type="button" data-bs-target="" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a href="index.html" class="carousel-control-next" type="button" data-bs-target="" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden"> Next</span>
            </a>
        </div>

        <div id="app">
            <div class="container ">
                <div class="row">
                    <div class="col-12">
                        <table class=" table table-bordered border-info mt-3">
                            <!-- !  Tabla 1  -->
                            <thead>
                                <tr>
                                    <th class="table-warning  text-center text-primary" colspan="3">
                                        <h5>Events Statics</h5>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr  class="text-center">
                                    <td class="table-info text-success">
                                        <h6><i>Events with the highest percentage of attendance</i></h6>
                                    </td>
                                    <td class="table-info text-success">
                                        <h6><i>Events whith the lowest percentage of attendance</i></h6>
                                    </td>
                                    <td class="table-info text-success">
                                        <h6><i>Event with larger capacity</i></h6>
                                    </td>
                                </tr>
                                <tr  class="text-center">
                                    <!--?  info de tabla 1  -->
                                    <td   class="table-info"><b>{{tabla1Asistencia[0].name}}
                                            ({{tabla1Asistencia[0].asistencia}}%)
                                        </b></td>

                                        <!--*   con unArray.length -1 traigo el ultimo elemento del array -->
                                    <td class="table-info"><b> {{tabla1Asistencia[tabla1Asistencia.length-1].name}} 
                                            ({{tabla1Asistencia[tabla1Asistencia.length-1].asistencia}}%) </b></td>
                                    <td class="table-info"><b>{{tabla1Capacidad.name}}
                                            ({{tabla1Capacidad.capacidad.toLocaleString(
                                            "es-AR")}})</b></td>
                                </tr>
                            </tbody>
                            <!--!   Tabla 2  -->
                            <thead>
                                <tr>
                                    <th class="table-warning  text-center text-danger-emphasis" colspan="3">
                                        <h5>Upcoming events statics by category</h5>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="table-info text-success">
                                        <h6><i>Categories</i></h6>
                                    </td>
                                    <td class="table-info text-success">
                                        <h6><i>Revenues</i></h6>
                                    </td>
                                    <td class="table-info text-success">
                                        <h6><i>Percentage of attendance</i></h6>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <!--?  info de tabla 2  -->
                                <tr v-for="evento of infoTabla2">
                                    <td class="table-info"><b>{{evento.categoria}} </b></td>
                                    <td class="table-info text-success text-end"><b>${{evento.ganancias.toLocaleString("es-AR")}} </b></td>                                                                                        
                                    <td class="table-info text-primary text-end"><b>{{evento.porcentAsis.toFixed(2)}}% </b></td>
                                </tr>
                            </tbody>
                            <!--!   Tabla 3  -->
                            <thead>
                                <tr>
                                    <th class="table-warning  text-center text-info-emphasis" colspan="3">
                                        <h5>Past Events statics by category</h5>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="table-info text-success">
                                        <h6><i>Categories</i></h6>
                                    </td>
                                    <td class="table-info text-success">
                                        <h6><i>Revenues</i></h6>
                                    </td>
                                    <td class="table-info text-success">
                                        <h6><i>Percentage of attendance</i></h6>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <!--?  info de tabla 3  -->
                                <tr v-for="evento of infoTabla3">
                                    <td class="table-info"><b>{{evento.categoria}} </b></td>
                                    <td class="table-info text-success text-end"><b>${{evento.ganancias.toLocaleString("es-AR")}} </b></td>                                                                                        
                                    <td class="table-info text-primary text-end"><b>{{evento.porcentAsis.toFixed(2)}}% </b></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        
    </main>

    <footer class="container-fluid">
        <div class="row bg-primary align-items-center">
            <div class="col-4 redes">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-whatsapp"></i>
            </div>
            <div class="col-8">
                <i class="fa-regular fa-copyright">
                    2023 - Amazing Events
                </i>
            </div>
        </div>
    </footer>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/0d5c6c5c90.js" crossorigin="anonymous"></script>

    <!-- CDN DE Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="scripts/stats.js"></script>


</body>

</html>