body {
    background: #009FFF;
    background: linear-gradient(to right, #ec2F4B, #009FFF);
}

.logo {
    min-width: 15vw;
    max-width: 15vw;
}

nav a{
    font-style: oblique;
}
.active{
    font-size: 1.4rem;
    font-style:normal ;
}

#carouselExample {
    text-align: center;
    padding: 1rem 0;
    background-color: rgb(255, 0, 0);
    color: white;

}

.card{
    color: black;
}
.card img{
    object-fit: cover;
    height: 12rem;
}

.form-contact{
    background-color: rgb(41, 137, 234);
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 2rem;
    font-weight: bold;
}
.btn-form{
    background-color: rgb(28, 159, 4);
    border: 2px solid white;
    border-radius: 1rem;
    color: white;
    padding: .2rem 2rem;
    font-size: 1.4rem;
}

footer {
    font-size: 1.5rem;
    margin-top: 3rem;
}
footer p{
    display: inline-block;
}
.redes{
    text-align: center;
    font-size: 2rem;
}
.redes i{
    padding: 0 1rem;
    color: white;
}

