body {
    background: #009FFF;
    background: linear-gradient(to right, #ec2F4B, #009FFF);
}
.logo {
    min-width: 15vw;
    max-width: 15vw;
}

nav a{
    font-style: oblique;
}
.nav-link:hover{
    color: white;
}
.active{
    font-size: 1.4rem;
    font-style:normal ;
}

#carouselExample {
    text-align: center;
    padding: 1rem 0;
    background-color: rgb(255, 0, 0);
    color: white;
}

.card{
    color: black;
}
.card img{
    object-fit: cover;
    height: 12rem;
}
.card{
    border-bottom: 3px solid red;
    border-right: 3px solid red;
    border-top: 3px solid blue;
    border-left: 3px solid blue;
    /* outline: 5px outset white; */
    transition: transform .4s;
}
@media only screen and (min-width: 430px){
    #card:hover{
        transform: scale(1.2);
        z-index: 10;
        box-shadow: 0 0 10px whitesmoke, 0 0 20px whitesmoke, 0 0 25px whitesmoke;
    }
}

.card .btn:hover{
    background-color: red;
    border-color: orange;
    transform: scale(1.2);
}

.form-contact{
    background-color: rgb(41, 137, 234);
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 2rem;
    font-weight: bold;
}
.btn-form{
    background-color: rgb(28, 159, 4);
    border: 2px solid white;
    border-radius: 1rem;
    color: white;
    padding: .2rem 2rem;
    font-size: 1.4rem;
}

footer {
    font-size: 1.3rem;
    margin-top: 5rem;
    position: fixed;
    bottom: 0;
    z-index: 30;
}
main{
    padding-bottom: 4rem;
    margin-bottom: 4rem;
}
footer p{
    display: inline-block;
}
.redes{
    text-align: center;
    font-size: 1.7rem;
}
.redes i{
    padding: 0 .5rem;
    color: white;
}


